@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,500&display=swap");
html,
body {
  margin: 0px;
  font-family: 'Rubik', sans-serif;
}
html {
  height: 100vh;
  padding: 10px;
}
